.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.featureRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 996px) {
  .featureSvg {
    height: 120px;
    width: 120px;
  }
}
